In [6]:
planets = [ 'Mercury', 'Venus', 'Earth']
for planet in planets:
    print(planet)

Mercury
Venus
Earth

In [3]:
s = [ "Mercury Venus Earth"]
for char in s:
    if char.isupper():
        print(char)

In [1]:
for i in range(5):
    print("doing important work=",i)

doing important work= 0
doing important work= 1
doing important work= 2
doing important work= 3
doing important work= 4

In [4]:
i=0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [15]:
i=0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [7]:
squares = [ n**2 for n in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [14]:
squares = [ ]
for n in range(5) :
    squares.append(n**2) 
print(squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]

In [17]:
hello ="hello\n world"
print(hello)

hello
 world

In [20]:
planet='pluto'
planet[1:]

'luto'

In [21]:
planet[-2:]

'to'

In [22]:
claim= 'pluto is a planet!'
claim.index('j')

ValueError: substring not found

In [24]:
words= claim.split()
print(words)

['pluto', 'is', 'a', 'planet!']

In [26]:
datestr = '1999-09-22'
year,month,day = datestr.split('-')
print(f"Year:{year} Month:{month} Day:{day}")

Year:1999 Month:09 Day:22

In [28]:
'/'.join([day,month,year])

'22/09/1999'

In [33]:
divider='-'
session= '16'
semester='02'
department='01'
id = '5006'

divider.join([session, semester, department, id])

'16-02-01-5006'

In [35]:
numbers= {'one':1, 'two':2,'three':2}
print(numbers)

{'one': 1, 'two': 2, 'three': 2}

In [37]:
numbers['eleven'] = 11
print(numbers)

{'one': 1, 'two': 2, 'three': 2, 'eleven': 11}

In [39]:
for k in numbers:
    print(f"{k} = {numbers[k]}")

one = 1
two = 2
three = 2
eleven = 11

In [40]:
print(numbers.keys())
print(numbers.values())

dict_keys(['one', 'two', 'three', 'eleven'])
dict_values([1, 2, 2, 11])

In [42]:
import math
print(f"It's a math! It has type {type(math)}")

It's a math! It has type <class 'module'>

In [43]:
import math as mt
mt.pi

3.141592653589793

In [49]:
from math import *
print(pi)
print(log(32,2))

3.141592653589793
5.0